<footer class="footer">
    <div class="footer-content">
        <div class="footer-info">
            <div class="bx bx1">
                <h3><span class="highlight-text">Track Your Training</span></h3>
                <p>India's biggest developers community</p>
            </div>
            <div class="bx bx2">
                <h3>Quick Links</h3>
                <ul>
                    <li>Home</li>
                    <li>Sign up</li>
                </ul>
            </div>
            <div class="bx bx3">
                <h3>Community</h3>
                <ul>
                    <li>Discord</li>
                    <li>YouTube</li>
                </ul>
            </div>
            <div class="bx bx4">
                <h3>Socials</h3>
                <ul>
                    <li>Twitter</li>
                    <li>Reddit</li>
                    <li>Instagram</li>
                </ul>
            </div>
            <div class="bx bx5">
                <h3>Legal</h3>
                <ul>
                    <li>Privacy Policy</li>
                </ul>
            </div>
        </div>
    </div>
</footer>