<section class="hero-section">
    <div class="hero-section-content">
        <div class="intro-section">
            <div class="intro-content">
                <p class="intro-title">Experience the <span class="highlight-text">Ultimate</span></p>
                <p class="intro-sub-title">Developers Community</p>
            </div>
            <div class="intro-slogan">
                <p>Join the <span class="highlight-text">leading platform</span> where developers <span class="highlight-text">thrive</span> by connecting, learning, and collaborating. Unlock your full potential and become part of a community that <span class="highlight-text">innovates</span> and drives the future of technology.</p>
            </div>
            <div class="explore-more">
                <%= link_to "Explore More", new_user_registration_path, class: "btn explore-btn" %>
            </div>
        </div>
        <div class="banner-image-container">
            <%= image_tag "bannerimage.png", class: 'banner-img' %>
        </div>
    </div>
</section>

<section class="how-it-works">
    <div class="works-content">
        <div class="works-title">
            <h2>How It Works</h2>
        </div>

        <div class="grid-content">
            <!-- Signup Section -->
            <div class="signup-content">
                <i class="ph ph-user-plus"></i>
                <h3>Sign Up</h3>
                <p class="signup-desc">Create your account to join our community and access a wide range of resources tailored for developers like you.</p>
            </div>

            <!-- View Courses Section -->
            <div class="courses-content">
                <i class="ph ph-book-open"></i>
                <h3>Explore Courses</h3>
                <p class="courses-desc">Browse through a diverse selection of courses designed to enhance your skills and keep you updated with the latest trends.</p>
            </div>

            <!-- View Batches Section -->
            <div class="batches-content">
                <i class="ph ph-calendar"></i>
                <h3>Enroll in Batches</h3>
                <p class="batches-desc">Select from various batch timings that suit your schedule and learn at your own pace with like-minded peers.</p>
            </div>
        </div>
    </div>
</section>