/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");

:root {
  --primary: #97cc04;
  --background: #001514;
  --white: #fbfffe;
  --secondary: #6f6866;
  --grey: #788585;

  --success: #28a745;
  --error: #dc3545;
  --warning: #ffc107;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  color: var(--white);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--white);
}

li {
  list-style: none;
}

input,
textarea {
  width: 100%;
  outline: none;
  border: 1px solid var(--white);
  padding: 1rem 1rem;
  border-radius: 4px;
  background-color: transparent;
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  transition: all 0.3s ease;
}

.highlight-text {
  color: var(--primary);
}

.btn {
  outline: none;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 3px;
  font-weight: 600;
}

.btn-normal {
  background-color: var(--primary);
  color: var(--background);
}

.btn-outline {
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
}

/* Navbar */
.nav {
  height: 70px;
  background-color: var(--background);
  border-radius: 40px;
  background: transparent;
  box-shadow: var(--primary) 0px 1px 8px, var(--primary) 0px 1px 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  backdrop-filter: blur(10px);
  border: 1px solid var(--primary);
  position: fixed;
  width: 80%;
  z-index: 999 !important;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.nav-container ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-container li {
  position: relative;
}

.nav-container ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  background-color: var(--primary);
  width: 0;
  height: 1px;
  transition: all 0.3s;
}

.nav-container ul li:hover::after {
  width: 100%;
  left: 0;
}

.nav-container .nav-sign-btn {
  background-color: var(--primary);
  color: var(--background);
  font-size: 0.8em;
  border-radius: 50px;
}

.nav-container .nav-log-btn {
  border: 1px solid var(--primary);
  font-size: 0.8em;
  border-radius: 50px;
  color: var(--primary);
}

.nav-container .btns-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Error Messages */

.error-container {
  background-color: var(--error);
  color: var(--white);
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.error-container h2 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.error-container ul {
  padding-left: 1rem;
}

.error-container li {
  list-style: disc;
}

.field-with-errors {
  width: 100%;
}

.alert {
  padding: 1rem;
  width: 100%;
  border-radius: 5px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
}

.alert-success {
  background-color: var(--success);
}

.alert-danger {
  background-color: var(--error);
}

/* Register and Login Styles */

.auth-showcase {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("auth-bg.svg") no-repeat center center;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  position: relative;
}

.auth-showcase .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  /* background-color: #28a745; */
}

.auth-showcase .container .auth-box {
  padding: 2rem;
  border-radius: 5px;
  width: 50%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* background-color: red; */
}

.auth-box h1 {
  margin-bottom: 10px;
}

.auth-showcase .container .auth-box p {
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--grey);
}

.auth-showcase .container .auth-box form {
  gap: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.auth-showcase .container .auth-box form .btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-showcase .container .auth-box form .btn-container .reg-btn,
.auth-showcase .container .auth-box form .btn-container .log-btn {
  width: 100%;
  background-color: var(--primary);
  color: var(--background);
}

/* .auth-showcase .container .auth-box form .btn-container .btn:hover {
  background: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
} */

/* Role Dropdown */
.role-dropdown {
  outline: none;
  padding: 1rem;
  border-radius: 4px;
  background: transparent;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  transition: all 0.3s ease;
  width: 100%;
  appearance: none;
}

.role-dropdown option {
  background-color: var(--background);
  color: var(--white);
}

.login-form #new_user {
  display: flex;
  flex-direction: column;
}

/* ===========================================================================================================
                            Hero Section
  ============================================================================================================
 */

.hero-section {
  max-width: 80%;
  margin: 0 auto;
  padding: 1rem;
}

.hero-section-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero-section-content .intro-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.intro-section .intro-title {
  font-size: 3rem;
  font-family: "Gugi", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.intro-section .intro-sub-title {
  font-size: 2rem;
  font-family: "Gugi", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.intro-section .intro-slogan p {
  font-size: 1.1rem;
  line-height: 30px;
}

.banner-image-container {
  text-align: right;
}

.banner-image-container .banner-img {
  object-fit: cover;
  height: 500px;
  width: 500px;
  border-radius: 5px;
}

.explore-more .explore-btn {
  background-color: var(--primary);
  color: var(--background);
}

/* ===========================================================================================================
                            How it works Section
  ============================================================================================================
 */

.how-it-works {
  max-width: 80%;
  margin: 100px auto 0;
  padding: 1rem;
}

.how-it-works .works-content {
  width: 100%;
  padding: 2rem;
  border-radius: 15px;
  background-color: var(--primary);
}

.works-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.works-title h2 {
  color: var(--background);
  font-size: 2.5rem;
  font-family: "Gugi", sans-serif;
  font-weight: 400;
}

.works-content .grid-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 40px;
}

.grid-content .signup-content,
.grid-content .courses-content,
.grid-content .batches-content {
  /* background-color: var(--primary); */
  padding: 2rem;
  text-align: center;
}

.grid-content i {
  font-size: 3rem;
  color: var(--background);
  margin-bottom: 1rem;
}

.grid-content h3 {
  font-size: 1.75rem;
  color: var(--background);
  margin-bottom: 1rem;
  font-family: "Gugi", sans-serif;
}

.grid-content p {
  color: var(--background);
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

/* ===========================================================================================================
                            Courses Styling
  ============================================================================================================
 */

.courses-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 2rem;
}

.section-title {
  font-size: 2.5rem;
  text-align: center;
  color: var(--primary);
  margin-bottom: 2rem;
}

.courses {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

/* Course Card Styling */
.course-card {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
}

.course-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.course-card-header {
  height: 180px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  padding: 1rem;
  color: white;
  position: relative;
}

.course-card-header .trash-delete {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  width: 32px;
  height: 32px;
  border-radius: 3px;
  outline: none;
  border: 1px solid var(--primary);
  cursor: pointer;
}

.course-card-header .trash-delete i {
  color: #001514;
  font-weight: bold;
  font-size: 20px;
}

.course-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--background);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.course-duration {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.875rem;
  color: white;
}

.course-card-body {
  padding: 1.5rem;
  color: #555;
}

.course-author {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #333;
  display: flex;
  align-items: center;
}

.course-author i {
  margin-right: 8px;
  color: #007bff;
}

.course-description {
  font-size: 0.875rem;
  color: #666;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.create-course-container {
  width: 100%;
  height: calc(100% - 100px);
  margin-top: 110px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.course-form {
  padding: 2rem;
  border-radius: 5px;
  overflow-y: auto;
  max-height: 550px;
  border: 1px solid var(--primary);
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: var(--primary) transparent; /* Primary color for scrollbar in Firefox */
  min-width: 600px;
}

.course-form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  /* background-color: red; */
}

.course-form form .form-group {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.form-group.span-col {
  grid-column: 1 / -1; /* Span both columns */
}

.course-form form .form-group .btn-submit {
  background-color: var(--success);
  grid-column: 1 / -1;
}

/* course details */

.course-details {
  width: 100%;
  max-width: 1200px;
  height: calc(100% - 100px);
  margin: 0 auto;
  margin-top: 110px;
  background: linear-gradient(
    135deg,
    rgba(90, 103, 216, 0.1),
    rgba(248, 113, 113, 0.1)
  );
  border: 1px solid white;
  padding: 1rem;
}

.course-header {
  display: flex;
  gap: 20px;
  position: relative;
}

.course-header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 2px;
  background-color: var(--primary);
  border-radius: 5px;
}

.course-header .course-image {
  flex: 1;
}

.course-header .course-info {
  flex: 3;
}

.course-header .course-info .course-title {
  color: var(--primary);
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
}

.course-image {
  width: 100%;
  max-width: 350px;
  height: 250px;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
}

.course-img:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.course-meta {
  margin-top: 20px;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.course-meta span {
  background-color: var(--background);
  padding: 10px;
  border-radius: 4px;
}

.course-info .course-dates {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.course-info .course-dates p {
  color: var(--grey);
}

.course-details .course-body {
  margin-top: 35px;
}

.course-details .course-footer {
  padding: 1rem;
  text-align: right;
}

.course-details .course-footer .btn-primary {
  background-color: var(--primary);
  color: var(--background);
}

.trainees-container {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 100px;
}

.trainees-container .manage-course-title {
  margin-top: 20px;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1em;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  width: 100%;
}

.content-table thead tr {
  background-color: var(--primary);
  color: var(--white);
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

/* .content-table tbody tr:nth-of-type(even) {
  background-color: var(--secondary);
} */

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--primary);
}

.content-table .btn-remove {
  background-color: var(--white);
  color: black;
  margin: 10px;
}

/* 
===========================================================================================================
                  Batches Styling
===========================================================================================================
*/

.batch-container {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 100px;
}

.batch-container textarea {
  resize: none;
}

.batch-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.batch-header .btn-batch {
  background-color: var(--primary);
  padding: 8px 15px;
  color: var(--background);
  border-radius: 4px;
  font-weight: 600;
}

.batch-form {
  padding: 1rem;
}

.batch-form form {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.batch-form .btn {
  width: 50%;
}

.batch-container .batch-content {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.batch-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.batch-title span {
  padding: 8px;
  border: 1px solid var(--primary);
  border-radius: 4px;
  font-size: 0.9em;
}

.batch-body {
  padding: 1rem;
  border: 1px solid var(--primary);
  border-radius: 5px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.batch-body .batch-inner-body {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.batch-body .btn-view-batch {
  background-color: var(--primary);
  border-radius: 5px;
  padding: 7px 12px;
  color: var(--background);
  width: fit-content;
  justify-self: end;
  align-self: end;
  font-weight: 600;
}

.batch-show-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.batches-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.batches-data form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.batches-data form .batches-btn {
  width: fit-content;
  background-color: var(--success);
  margin-top: 5px;
  color: var(--background);
}

.batch-show-info .all-trainees {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  padding-left: 20px;
}

.all-trainees .trainee-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.batch-show-info .all-trainees::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--primary);
}

/* ===========================================================================================================
                            Task Styling
  ============================================================================================================
 */

.task-container {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 100px;
}

.task-container .tasks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 1rem;
}

.task-container .tasks .task {
  background-color: transparent;
  border-radius: 8px;
  padding: 1.5rem;
  border: 1px solid var(--primary);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.task-container .tasks .task:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-header a {
  background-color: var(--primary);
  padding: 5px 10px;
  color: var(--background);
  border-radius: 3px;
}

.task-header p {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 500;

  /* color: var(--background); */
}

.task-header .task-deadline {
  font-size: 0.9rem;
  color: var(--error);
}

.task-body p {
  margin-top: 1rem;
  line-height: 1.5;
}

.task-footer {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  color: #666;
}

.task-footer .task-status strong {
  color: var(--primary);
}

.task-footer span {
  font-size: 1rem;
}

/* Styling for the task details */

.task-details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 2rem;
  background-color: transparent;
  border: 1px solid var(--primary);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
}

.task-details h2 {
  font-size: 2rem;
  /* color: #333; */
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.task-details p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.task-details p strong {
  color: var(--primary);
}

.task-details .task-header {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Task deadline and creation date */
.task-deadline,
.task-created {
  display: block;
  margin: 5px 0;
  font-size: 1rem;
  color: #777;
}

/* Task status */
.task-status {
  font-size: 1.1rem;
  font-weight: bold;
  color: #f5a623;
}

/* Form for status change */
.task-status-form {
  margin-top: 2rem;
  background-color: transparent;
  padding: 1.5rem;
  border-radius: 8px;
  border: 1px solid #eee;
}

.task-status-form .form-group {
  margin-bottom: 1.5rem;
}

.task-status-form label {
  font-weight: bold;
  font-size: 1.1rem;
  /* color: #333; */
}

.task-status-form .form-control {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.task-status-form .form-control:focus {
  border-color: #009879;
  box-shadow: 0 0 8px rgba(0, 152, 121, 0.2);
}

.task-status-form .btn {
  padding: 0.8rem 1.2rem;
  background-color: var(--primary);
  color: var(--background);
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.task-status-form .btn:hover {
  background-color: #007bff;
}

.task-status-form .btn:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
}

/* 
===========================================================================================================
                  Profile Styling
===========================================================================================================
*/

.profile-box-container {
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid var(--primary);
  border-radius: 7px;
  height: 100%;
  min-height: 500px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.profile-box-container .profile-header {
  background-color: var(--primary);
  width: 100%;
  height: 100%;
  border-radius: 0 0 7px 7px;
  padding: 1rem;
  display: flex;
  gap: 20px;
  align-items: center;
}

.profile-box-container .profile-body {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  height: auto;
  flex: 2;
}

.profile-body .profile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* height: 100%; */
}

.profile-footer {
  /* position: absolute;
  left: 0;
  bottom: 0; */
  width: 100%;
  padding: 1rem;
  border-top: 1px solid var(--primary);
  border-radius: 7px 7px 0 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: max-content;
}

.profile-footer .btn-edit {
  background-color: var(--primary);
  text-align: center;
  color: var(--background);
}

.profile-footer .btn-delete-profile {
  color: var(--background);
  background-color: var(--white);
  text-align: center;
}

.profile-header i {
  font-size: 32px;
  color: var(--background);
}

.profile-box-container .profile-header-title {
  color: var(--background);
}

.profile-container {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
}

.profile-container form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.profile-container .actions {
  display: flex;
  gap: 10px;
}

.profile-container .btn-update {
  background-color: var(--primary);
  color: var(--background);
  flex: 1;
}

.profile-container .btn-danger {
  background-color: var(--error);
  color: var(--white);
  text-align: center;
  flex: 1;
}

/* 
===========================================================================================================
                  Comment Section Styling
===========================================================================================================
*/

.comment-section-container {
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid #ddd;
  margin-top: 40px;
  padding: 1rem;
}

.comment-section-container .form-group {
  width: 50%;
}

.comment-section-container .form-group textarea {
  resize: none;
}

form .btn-comment {
  background-color: var(--primary);
  width: max-content;
  border-radius: 3px;
  margin-top: 10px;
  color: var(--background);
}

.comments-section {
  margin-bottom: 30px;
}

/* Individual Comment Styles */
.comment {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.comment-operations {
  display: flex;
  gap: 10px;
  align-items: center;
}

.comment .comment-operations a,
.comment .comment-operations button {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 5px 10px;
}

.comment-operations .edit-comment {
  background-color: var(--primary);
  color: var(--background);
  border-radius: 3px;
}

.comment-operations .delete-comment {
  background-color: var(--error);
  color: var(--white);
  border-radius: 3px;
  border: 1px solid var(--error);
  cursor: pointer;
}

.comment-operations .btn-reply {
  background-color: var(--success);
  color: var(--white);
  border-radius: 3px;
  border: 1px solid var(--success);
  cursor: pointer;
}

.comment .user-name {
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--white);
}

/* Reply Form Styles */
.reply-form {
  display: none;
  width: 50%;
}

.reply-form form .reply-btn {
  background-color: #218838;
  color: var(--white);
  font-weight: 600;
  border: 1px solid #218838;
  font-size: 0.9em;
  cursor: pointer;
  flex: 1;
}

.reply-form form {
  display: flex;
  gap: 10px;
}

.reply-form textarea {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  font-size: 13px;
  resize: none;
  flex: 3;
}

/* Replies */
.replies {
  margin-left: 30px;
  padding-left: 10px;
  border-left: 1px solid #ddd;
  margin-top: 10px;
}

/* Comment Footer Actions */

.comment .comment-footer {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 10px;
}

.comment-footer .reply-link {
  font-size: 12px;
  color: #007bff;
  cursor: pointer;
}

.comment-footer .reply-link:hover {
  text-decoration: underline;
}

/* 
===========================================================================================================
                  Footer Styling
===========================================================================================================
*/

.footer {
  border-radius: 20px 20px 0 0;
  background-color: #1a2a1a;
  width: 100%;
  padding: 2rem 0;
  margin-top: 40px;
}

.footer-content {
  /* padding: 2rem; */
  max-width: 1300px;
  margin: 0 auto;
}

.footer-info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
}

.footer-info .bx {
  padding: 1.5rem;
  color: #f0f0f0;
}

.footer-info h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer-info p,
.footer-info ul {
  font-size: 1rem;
  line-height: 1.5;
}

.footer-info ul {
  padding: 0;
}

.footer-info ul li {
  margin-bottom: 0.5rem;
}

/* Footer Buttons */

.course-card-footer {
  margin-top: auto;
  padding: 1rem 1.5rem;
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.course-card-footer .btn-enroll,
.course-card-footer .btn-details {
  flex: 1;
  text-align: center;
}

.btn {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 30px;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-enroll {
  background-color: #28a745;
  color: white;
}

.btn-enroll:hover {
  background-color: #218838;
  box-shadow: 0 6px 12px rgba(40, 167, 69, 0.2);
}

.btn-details {
  background-color: #007bff;
  color: white;
}

.btn-details:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 12px rgba(0, 123, 255, 0.2);
}

/* 
===========================================================================================================
                  Media Quries
===========================================================================================================
*/

@media (max-width: 768px) {
  .works-content .grid-content {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .hero-section-content {
    grid-template-columns: repeat(1, 1fr);
  }

  .intro-section {
    text-align: center;
  }

  .banner-img {
    display: none;
  }

  .footer-info {
    grid-template-columns: repeat(2, 1fr);
  }

  /* for courses */
  .courses {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .course-card-footer {
    flex-direction: column;
  }

  .course-card-footer button {
    flex: 1;
    width: 100%;
  }

  .course-form form {
    grid-template-columns: repeat(1, 1fr);
  }

  /* for batches */
  .batch-container .batch-content {
    grid-template-columns: 1fr;
  }

  /* for tasks */
  .task-container .tasks {
    grid-template-columns: 1fr;
  }
  .task-container {
    width: 90%;
    padding: 1.5rem;
  }

  .task-details h2 {
    font-size: 1.5rem;
  }

  .task-details p {
    font-size: 1rem;
  }

  .task-status-form {
    padding: 1rem;
  }

  .task-status-form .form-control {
    padding: 0.7rem;
  }

  .task-status-form .btn {
    padding: 0.7rem 1rem;
  }
}
